body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "EuclidCircularA";
    src: local("Euclid Circular A Light.ttf"), url("/src/assets/fonts/euclid-a/Euclid Circular A Light.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircularA";
    src: local("Euclid Circular A Italic.ttf"), url("/src/assets/fonts/euclid-a/Euclid Circular A Italic.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircularA";
    src: local("Euclid Circular A Regular.ttf"), url("/src/assets/fonts/euclid-a/Euclid Circular A Regular.ttf") format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircularA";
    src: local("Euclid Circular A Italic.ttf"), url("/src/assets/fonts/euclid-a/Euclid Circular A Italic.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircularA";
    src: local("Euclid Circular A Medium.ttf"), url("/src/assets/fonts/euclid-a/Euclid Circular A Medium.ttf") format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircularA";
    src: local("Euclid Circular A Medium Italic.ttf"), url("/src/assets/fonts/euclid-a/Euclid Circular A Medium Italic.ttf") format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircularA";
    src: local("Euclid Circular A SemiBold.ttf"), url("/src/assets/fonts/euclid-a/Euclid Circular A SemiBold.ttf") format("truetype");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircularA";
    src: local("Euclid Circular A SemiBold Italic.ttf"), url("/src/assets/fonts/euclid-a/Euclid Circular A SemiBold Italic.ttf") format("truetype");
    font-display: swap;
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircularA";
    src: local("Euclid Circular A Bold.ttf"), url("/src/assets/fonts/euclid-a/Euclid Circular A Bold.ttf") format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircularA";
    src: local("Euclid Circular A Bold Italic.ttf"), url("/src/assets/fonts/euclid-a/Euclid Circular A Bold Italic.ttf") format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: "EuclidCircularB";
    src: local("Euclid Circular B Light.ttf"), url("/src/assets/fonts/euclid-b/Euclid Circular B Light.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircularB";
    src: local("Euclid Circular B Italic.ttf"), url("/src/assets/fonts/euclid-b/Euclid Circular B Italic.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircularB";
    src: local("Euclid Circular B Regular.ttf"), url("/src/assets/fonts/euclid-b/Euclid Circular B Regular.ttf") format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircularB";
    src: local("Euclid Circular B Italic.ttf"), url("/src/assets/fonts/euclid-b/Euclid Circular B Italic.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircularB";
    src: local("Euclid Circular B Medium.ttf"), url("/src/assets/fonts/euclid-b/Euclid Circular B Medium.ttf") format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircularB";
    src: local("Euclid Circular B Medium Italic.ttf"), url("/src/assets/fonts/euclid-b/Euclid Circular B Medium Italic.ttf") format("truetype");
    font-display: swap;
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircularB";
    src: local("Euclid Circular B SemiBold.ttf"), url("/src/assets/fonts/euclid-b/Euclid Circular B SemiBold.ttf") format("truetype");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircularB";
    src: local("Euclid Circular B SemiBold Italic.ttf"), url("/src/assets/fonts/euclid-b/Euclid Circular B SemiBold Italic.ttf") format("truetype");
    font-display: swap;
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircularB";
    src: local("Euclid Circular B Bold.ttf"), url("/src/assets/fonts/euclid-b/Euclid Circular B Bold.ttf") format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircularB";
    src: local("Euclid Circular B Bold Italic.ttf"), url("/src/assets/fonts/euclid-b/Euclid Circular B Bold Italic.ttf") format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: "RayleighGlamour";
    src: local("RayleighGlamourRegular.otf"), url("/src/assets/fonts/rayleigh-glamour/RayleighGlamourRegular.otf") format("opentype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SatrevaNova";
    src: local("SatrevaNova.ttf"), url("/src/assets/fonts/satreva-nova/SatrevaNova.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OgelicRegular";
    src: local("OgelicRegular.ttf"), url("/src/assets/fonts/ogelic/OgelicRegular.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}







@font-face {
    font-family: "RayleighGlamour";
    src: local("RayleighGlamourRegular.otf"), url("/src/assets/fonts/rayleigh-glamour/RayleighGlamourRegular.otf") format("opentype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SatrevaNova";
    src: local("SatrevaNova.ttf"), url("/src/assets/fonts/satreva-nova/SatrevaNova.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "UberMoveAR";
    src: local("UberMoveARRegular.ttf"), url("/src/assets/fonts/uber-move-ar/UberMoveARRegular.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "UberMoveAR";
    src: local("UberMoveARLight.ttf"), url("/src/assets/fonts/uber-move-ar/UberMoveARLight.ttf") format("truetype");
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: "UberMoveAR";
    src: local("UberMoveARRegular.ttf"), url("/src/assets/fonts/uber-move-ar/UberMoveARRegular.ttf") format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SamsungSharpSans";
    src: local("SamsungSharpSansRegular.ttf"), url("/src/assets/fonts/samsung-sharp-sans/SamsungSharpSansRegular.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SamsungSans";
    src: local("SamsungSans-Regular.ttf"), url("/src/assets/fonts/samsung-sans/SamsungSans-Regular.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SamsungSans";
    src: local("SamsungSans-Light.ttf"), url("/src/assets/fonts/samsung-sans/SamsungSans-Light.ttf") format("truetype");
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "SamsungSans";
    src: local("SamsungSans-Regular.ttf"), url("/src/assets/fonts/samsung-sans/SamsungSans-Regular.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SamsungSans";
    src: local("SamsungSans-Bold.ttf"), url("/src/assets/fonts/samsung-sans/SamsungSans-Bold.ttf") format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}




@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-ExtraBold.otf"), url("/src/assets/fonts/gilroy/Gilroy-ExtraBold.otf") format("opentype");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-BoldItalic.ttf"), url("/src/assets/fonts/gilroy/Gilroy-BoldItalic.ttf") format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-Regular.ttf"), url("/src/assets/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-Light.otf"), url("/src/assets/fonts/gilroy/Gilroy-Light.otf") format("opentype");
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-LightItalic.ttf"), url("/src/assets/fonts/gilroy/Gilroy-LightItalic.ttf") format("truetype");
    font-display: swap;
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-RegularItalic.ttf"), url("/src/assets/fonts/gilroy/Gilroy-RegularItalic.ttf") format("opentype");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}




@font-face {
    font-family: "Futura";
    src: local("FuturaCyrillicBold.ttf"), url("/src/assets/fonts/futura/FuturaCyrillicBold.ttf") format("opentype");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: "Futura";
    src: local("FuturaCyrillicBook.ttf"), url("/src/assets/fonts/futura/FuturaCyrillicBook.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Futura";
    src: local("FuturaCyrillicLight.ttf"), url("/src/assets/fonts/futura/FuturaCyrillicLight.ttf") format("truetype");
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}
